.text-and-image-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .row {
    display: flex;
    align-items: center;
    margin: 10px;
  }
  
  .text {
    margin-right: 10px;
  }
  
  .image {
    max-width: 100px;
    max-height: 100px;
  }
  