
/* Style for the header element */
.header {
  position: fixed;
  top:0;
  background-color: #FFF;
  display: flex;
  align-items: center; /* Vertically center content */
  justify-content: space-between; /* Space between tabs and logo */
  text-align: center;
  width: 100%;
  height: auto;
  z-index: 100; /* Ensures the header is displayed above other content */
  margin-bottom: 2000px;
  
  }

  
/* Style for the logo */
.logo {
  display: flex;
  align-items: left;
  list-style: none;
  width: 180px; /* Set your desired width */
  height: auto; /* Let the height adjust proportionally */
  margin: 10px;
  padding: 10px;
}
  
  .tabs {
    display: flex;
    align-items: right;
    gap: 20px;
    list-style: none;
    margin: 10px;
    padding: 10px;
  }

  .tabs li {
    display: flex;
    margin: 10px;
    padding: 10px;
    align-items: right;
    text-decoration: none;
    font-weight: bold;
  }
  
  .tab {
    cursor: pointer;
    transition: color 0.3s;
    
  }
  
  .tab:hover {
    color: #87a8da; /* Change the color on hover */
  }
  
  .tab.active {
    color: #159cf6; /* Color for the active tab */
    font-weight: bold;
  }
  
  