.content {
  margin-top: 100px;
}
.product-container-parent {
  display: block;
}
.left-container-parent {
  display: flex;
  flex-direction: column;
  flex: 1 0 20%;
  width: auto;
  height: auto;
  gap: 1rem; /* Spacing between items (optional) */
}
.productSearch-parent {
  margin-top: 15px;
}

.productSearch-parent input {
  margin: 1rem;
  border: none;
  padding: 0.5rem;
  width: 20rem;
  background-color: white;
}

label {
  display: block;
}
span {
  align-items: center;
}

.productList {
  display: flex;
  margin: auto 5rem auto 5rem;
  flex-wrap: wrap;
  list-style: none; /* Remove default list styles */
  gap: 0.8rem; /* Add some spacing between images (adjust as needed) */
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

.productListDetails {
  display: flex;
  flex-direction: column;
  list-style: none; /* Remove default list styles */
  align-content: center; /* Start from the top of the container */
}

.productListDetails img {
  max-width: 250px; /* Set the width of each image */
  max-height: 250px; /* Set the height of each image */
  object-fit: fill; /* Maintain the image aspect ratio and crop if needed */
}
