.content {
  margin-top: 100px;
}
.product-container {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  margin: auto;
  gap: 1rem; /* Spacing between items (optional) */
}
.left-container{
  display: flex;
  flex-direction: column;
  flex: 1 0 20%;
  width: auto;
  height: auto;
  gap: 1rem; /* Spacing between items (optional) */
}
.right-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1 0 80%;
  width: auto;
  height: auto;
  gap: 1rem; /* Spacing between items (optional) */
}
.productSearch {
  display: flex;
  flex-direction: row; /* Stack items vertically */
  gap: 1rem; /* Spacing between items (optional) */
  margin: 2rem;
  align-items: center;

}
  label {
    display: flex;
    margin: 0.4rem 0.6;
    display: block;
    font:
      1rem 'Fira Sans',
      sans-serif;
    align-items: center;

  }
  span{
    align-items: center;
  }
  
  input,
  label {
    margin: 0.4rem 0.6;
    align-items: center;

  }

.productFilter {
  display: flex;
  flex-direction: column; /* Stack checkboxes vertically */
  gap: 0.5rem; /* Spacing between checkboxes (optional) */

}

.productList {
  display: flex;
  /* justify-content: space-between; */
  /* flex-direction: row; */
  flex-wrap: wrap;
  list-style: none; /* Remove default list styles */
  padding: 0.2rem;
  margin: 0.2rem;
  align-content: flex-start; /* Start from the top of the container */
  gap: 10px; /* Add some spacing between images (adjust as needed) */
  padding: 10px; /* Add padding around the container */
  /* background-color: #f0f0f0; */
}

.productListDetails{
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none; /* Remove default list styles */
  align-content: center; /* Start from the top of the container */
  padding: 10px; /* Add padding around the container */
}

.productListDetails img {
  width: 200px; /* Set the width of each image */
  height: 200px; /* Set the height of each image */
  object-fit: cover; /* Maintain the image aspect ratio and crop if needed */
  margin: 5px; /* Add some margin between images */
  max-width: 100%; /* Prevent images from exceeding their container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px; /* Add border radius for rounded corners (optional) */

}

ul {
  list-style-type: none;
}