.content {
  position: relative;
  margin-top: 100px;
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 100%; /* Adjust as needed */
}

.background-image {
  width: 100%;
  height: auto;
}

.text-overlay {
  position: absolute;
  bottom: 15%;
  width: 500px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #c9c9c9; /* Text color */
  justify-content: left;
  text-align: justify;
  padding: 10px 50px 10px 50px;
  margin: auto;
}

.brand-imgs-section {
  text-align: center;
  padding: 0px 100px 30px 100px;
  text-align: center;
  justify-content: center;
}

.brand-imgs {
  height: 30px;
  padding: 15px;
  flex-wrap: "hard";
  white-space: normal;
  display: inline-grid;
  place-items: center;
  margin: 0 auto;
}
#brand-img-hp {
  height: 50px;
  padding-bottom: 5px;
}

@media (max-width: 400px) {
  .text-overlay {
    bottom: 5%;
    width: 200px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px 25px 5px 25px;
  }
}
